body {
  margin: 70px auto;
  max-width: 1200px;
}

.csb {
  background: mistyrose;
  color: indianred;
}

.tc {
  background: tan;
  color: brown;
}

.tc h1 {
  font-size: 4rem;
}

.tc h2,
.tc h3 {
  color: #4d2600;
}

.tc .clickable {
  color: darkgoldenrod;
}

.tc .active-item .clickable {
  color: goldenrod;
}

.sb {
  background-image: url("../img/sb_bg.jpg");
  background-size: cover;
  color: white;
  text-shadow: 0 0 25px fuchsia;
}

.sb h2,
.sb h3 {
  color: teal;
  text-shadow: none;
}

.sb .clickable {
  color: fuchsia;
}

.sb .clickable:hover {
  text-decoration: none;
  text-shadow: 0 0 15px fuchsia;
}

.sb .row {
  background: #cff;
  border: 1px solid white;
  box-shadow: 0 0 25px 5px fuchsia;
}

.active-item {
  background: rgba(0,0,0,.2);
}

h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 30px;
  border-bottom: 1px solid;
}

h2 {
  text-align: center;
}

h3 {
  font-weight: normal;
  font-size: 2rem;
}

h2,
h3 {
  color: black;
}

.footer{
  padding: 0;
}

.after {
  display: none;
}

.initially-hidden {
  display: none;
}

.clickable {
  color: tomato;
}

.clickable:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 10rem;
  }

  .tc h1 {
    font-size: 8rem;
  }

  .row {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
  }

  .col-md-4 {
    height: 418px;;
  }

  .col-md-6 {
    height: 580px;
    padding: 0 5%;
  }

  .second-breakfast {
    border-left: 1px solid;
    border-right: 1px solid;
  }

  .col-md-6:first-child {
    border-right: 1px solid;
  }

  .sb .second-breakfast {
    border-color: fuchsia;
  }
  .sb .col-md-6:first-child {
    border-color: fuchsia;
  }

  .tc .row:nth-child(even),
  .csb .row:nth-child(even) {
    border: none;
    margin: 0;
    padding: 0;
  }




}
